.option{
            font-size: 1.24rem;
            font-weight: bolder;
        }

        blockquote{
            max-width: 600px;
            margin: 10px;
            padding: 15px;
            border-left: 8px solid green;
            background-color: #f8fffe;
            font-weight: bold;
			
        }
blockquote cite {
            display: block;
            margin-top: 10px;
            font-size: 0.9em;
            color: #666;
        }